<!doctype html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Template Cover - Home Assistant</title>
    <meta name="author" content="Home Assistant">
    <meta name="description" content="Instructions how to integrate Template covers into Home Assistant.">
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://home-assistant.io/components/cover.template/">
    <meta property="fb:app_id" content="338291289691179">
    <meta property="og:title" content="Template Cover">
    <meta property="og:site_name" content="Home Assistant">
    <meta property="og:url" content="https://home-assistant.io/components/cover.template/">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Instructions how to integrate Template covers into Home Assistant.">
    <meta property="og:image" content="https://home-assistant.io/images/default-social.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@home_assistant">
    <meta name="twitter:title" content="Template Cover">
    <meta name="twitter:description" content="Instructions how to integrate Template covers into Home Assistant.">
    <meta name="twitter:image" content="https://home-assistant.io/images/default-social.png">
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="Home Assistant" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />
  </head>
  <body >
    <header class='site-header'>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
  <a href="/" class="site-title">
    <img width='40' src='/demo/favicon-192x192.png'>
    <span>Home Assistant</span>
  </a>
</div>
<div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
  <nav>
    <input type="checkbox" id="toggle">
<label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu"></label>
<ul class="menu pull-right">
  <li><a href="/getting-started/">Getting started</a></li>
  <li><a href="/components/">Components</a></li>
  <li><a href="/docs/">Docs</a></li>
  <li><a href="/cookbook/">Examples</a></li>
  <li><a href="/developers/">Developers</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/help/">Need help?</a></li>
  <li><a href='#' class='show-search'><i class="icon-search"></i></a></li>
</ul>
  </nav>
  <div class='search-container' style='display: none'>
    <div class='search'>
      <i class="icon-search"></i>
      <input id='search' placeholder='Search the docs…'>
      <a href='#' class='close'><i class="icon-remove-sign"></i></a>
    </div>
  </div>
</div>
  </div>
</div>
    </header>
    <div class="grid-wrapper">
      <div class="grid grid-center">
        <div class="grid__item two-thirds lap-one-whole palm-one-whole">
          <article class="page">
  <header>
    <h1 class="title indent">
      Template Cover
    </h1>
  </header>
  <hr class="divider">
  <p>The <code class="highlighter-rouge">template</code> platform can create covers that combine components and provides the ability to run scripts or invoke services for each of the open, close, stop, position, and tilt commands of a cover.</p>
<p>To enable Template covers in your installation, add the following to your <code class="highlighter-rouge">configuration.yaml</code> file:</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Example configuration.yaml entry</span>
<span class="s">cover</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">template</span>
    <span class="s">covers</span><span class="pi">:</span>
      <span class="s">garage_door</span><span class="pi">:</span>
        <span class="s">friendly_name</span><span class="pi">:</span> <span class="s2">"</span><span class="s">Garage</span><span class="nv"> </span><span class="s">Door"</span>
        <span class="s">value_template</span><span class="pi">:</span> <span class="s2">"</span><span class="s">'{{is_state('sensor.garage_door</span><span class="nv"> </span><span class="s">&gt;</span><span class="nv"> </span><span class="s">0'}}'"</span>
        <span class="s">open_cover</span><span class="pi">:</span>
          <span class="s">service</span><span class="pi">:</span> <span class="s">script.open_garage_door</span>
        <span class="s">close_cover</span><span class="pi">:</span>
          <span class="s">service</span><span class="pi">:</span> <span class="s">script.close_garage_door</span>
        <span class="s">stop_cover</span><span class="pi">:</span>
          <span class="s">service</span><span class="pi">:</span> <span class="s">script.stop_garage_door</span>
</code></pre>
</div>
<p>Configuration variables:</p>
<ul>
  <li><strong>covers</strong> array (<em>Required</em>): List of your coverss.
    <ul>
      <li><strong>open_cover</strong> (<em>Optional</em>): Defines an <a href="/getting-started/automation/">action</a> to run when the cover is opened.  If <code class="highlighter-rouge">open_cover</code> is specified, <code class="highlighter-rouge">close_cover</code> must also be specified.  At least one of <code class="highlighter-rouge">open_cover</code> and <code class="highlighter-rouge">set_cover_position</code> must be specified.</li>
      <li><strong>close_cover</strong> (<em>Optional</em>): Defines an <a href="/getting-started/automation/">action</a> to run when the cover is closed.</li>
      <li><strong>stop_cover</strong> (<em>Optional</em>): Defines an <a href="/getting-started/automation/">action</a> to run when the cover is stopped.</li>
      <li><strong>set_cover_position</strong> (<em>Optional</em>): Defines an <a href="/getting-started/automation/">action</a> to run when the cover is set to a specific value (between 0 and 100).</li>
      <li><strong>set_cover_tilt_position</strong> (<em>Optional</em>): Defines an <a href="/getting-started/automation/">action</a> to run when the cover tilt is set to a specific value (between 0 and 100).</li>
      <li><strong>value_template</strong> (<em>Optional</em>): Defines a <a href="/topics/templating/">template</a> to get the state of the cover. Valid values are open/true or closed/false. <code class="highlighter-rouge">value_template</code> and <code class="highlighter-rouge">position_template</code> cannot be specified concurrently.</li>
      <li><strong>position_template</strong> (<em>Optional</em>): Defines a <a href="/topics/templating/">template</a> to get the state of the cover. Legal values are numbers between 0 (closed) and 100 (open). <code class="highlighter-rouge">value_template</code> and <code class="highlighter-rouge">position_template</code> cannot be specified concurrently.</li>
      <li><strong>tilt_template</strong> (<em>Optional</em>): Defines a <a href="/topics/templating/">template</a> to get the tilt state of the cover. Legal values are numbers between 0 (closed) and 100 (open).</li>
      <li><strong>optimistic</strong> (<em>Optional</em>): Force cover position to use optimistic mode.  Value is either <code class="highlighter-rouge">true</code> or <code class="highlighter-rouge">false</code>.  <a href="#optimistic-mode">See below</a> for more details.</li>
      <li><strong>tilt_optimistic</strong> (<em>Optional</em>): Force cover tilt position to use optimistic mode.  Value is either <code class="highlighter-rouge">true</code> or <code class="highlighter-rouge">false</code>.  <a href="#optimistic mode">See below</a> for more details.</li>
      <li><strong>icon_template</strong> (<em>Optional</em>): Defines a <a href="/topics/templating/">template</a> to specify which icon to use. Either <code class="highlighter-rouge">value_template</code> or <code class="highlighter-rouge">position_template</code> must be specified.</li>
      <li><strong>friendly_name</strong> (<em>Optional</em>): Name to use in the frontend.</li>
      <li><strong>entity_id</strong> (<em>Optional</em>): Add a list of entity IDs so the switch only reacts to state changes of these entities. This will reduce the number of times the cover will try to update it’s state.</li>
    </ul>
  </li>
</ul>
<h2><a class="title-link" name="optitmistic-mode" href="#optitmistic-mode"></a> Optitmistic Mode</h2>
<p>In optmistic mode, the cover position state is maintained internally.  This mode is automatically enabled if neither <code class="highlighter-rouge">value_template</code> or <code class="highlighter-rouge">position_template</code> are sepcified.  Note that this is unlikely to be very reliable without some feedback mechanism, since there is otherwise no way to know if the cover is moving properly.  The cover can be forced into optimistic mode by using the <code class="highlighter-rouge">optimistic</code> attribute.  There is an equivalent mode for tilt-position that is enabled when <code class="highlighter-rouge">tilt_template</code> is not specified or when the <code class="highlighter-rouge">tilt-optimistic</code> attribute is used.</p>
<h2><a class="title-link" name="examples" href="#examples"></a> Examples</h2>
<p>In this section you will find some real life examples of how to use this cover.</p>
<h3><a class="title-link" name="garage-door" href="#garage-door"></a> Garage Door</h3>
<p>This example converts a garage door with a controllable switch and position sensor into a cover.</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code>
<span class="s">cover</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">template</span>
    <span class="s">covers</span><span class="pi">:</span>
      <span class="s">garage_door</span><span class="pi">:</span>
        <span class="s">friendly_name</span><span class="pi">:</span> <span class="s1">'</span><span class="s">Garage</span><span class="nv"> </span><span class="s">Door'</span>
        <span class="s">value_template</span><span class="pi">:</span> <span class="s2">"</span><span class="s">{{</span><span class="nv"> </span><span class="s">sensor.garage_door</span><span class="nv"> </span><span class="s">}}"</span>
        <span class="s">open_cover</span><span class="pi">:</span>
          <span class="s">service</span><span class="pi">:</span> <span class="s">switch.turn_on</span>
          <span class="s">entity_id</span><span class="pi">:</span> <span class="s">switch.garage_door</span>
        <span class="s">close_cover</span><span class="pi">:</span>
          <span class="s">service</span><span class="pi">:</span> <span class="s">switch.turn_off</span>
          <span class="s">entity_id</span><span class="pi">:</span> <span class="s">switch.garage_door</span>
        <span class="s">stop_cover</span><span class="pi">:</span>
          <span class="s">service</span><span class="pi">:</span> <span class="s">switch.turn_on</span>
          <span class="s">entity_id</span><span class="pi">:</span> <span class="s">switch.garage_door</span>
        <span class="s">icon_template</span><span class="pi">:</span> <span class="s2">"</span><span class="s">{%</span><span class="nv"> </span><span class="s">if</span><span class="nv"> </span><span class="s">not</span><span class="nv"> </span><span class="s">is_state('sensor.garage_door',</span><span class="nv"> </span><span class="s">'on')</span><span class="nv"> </span><span class="s">%}mdi:garage-open{%</span><span class="nv"> </span><span class="s">else</span><span class="nv"> </span><span class="s">%}mdi:garage{%</span><span class="nv"> </span><span class="s">endif</span><span class="nv"> </span><span class="s">%}"</span>
</code></pre>
</div>
<h3><a class="title-link" name="multi-covers" href="#multi-covers"></a> Multi Covers</h3>
<p>This example allows you to control two or more covers at once.</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code>
<span class="s">homeassistant</span><span class="pi">:</span>
  <span class="s">customize</span><span class="pi">:</span>
    <span class="s">all_covers</span><span class="pi">:</span>
      <span class="s">assume_state</span><span class="pi">:</span> <span class="s">true</span>

<span class="s">cover</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">template</span>
    <span class="s">covers</span><span class="pi">:</span>
      <span class="s">all_covers</span><span class="pi">:</span>
        <span class="s">friendly_name</span><span class="pi">:</span> <span class="s1">'</span><span class="s">All</span><span class="nv"> </span><span class="s">Covers'</span>
        <span class="s">open_cover</span><span class="pi">:</span>
          <span class="s">service</span><span class="pi">:</span> <span class="s">script.cover_all_open</span>
        <span class="s">close_cover</span><span class="pi">:</span>
          <span class="s">service</span><span class="pi">:</span> <span class="s">script.cover_all_close</span>
        <span class="s">stop_cover</span><span class="pi">:</span>
          <span class="s">service</span><span class="pi">:</span> <span class="s">script.cover_all_stop</span>
        <span class="s">set_cover_position</span><span class="pi">:</span>
          <span class="s">service</span><span class="pi">:</span> <span class="s">script.cover_all_set_position</span>
          <span class="s">data_template</span><span class="pi">:</span>
          <span class="s">position</span><span class="pi">:</span> <span class="s2">"</span><span class="s">{{</span><span class="nv"> </span><span class="s">position</span><span class="nv"> </span><span class="s">}}"</span>
        <span class="s">value_template</span><span class="pi">:</span> <span class="pi">&gt;</span>
          <span class="no">{% if is_state('sensor.all_covers', 'open') %}</span>
            <span class="no">open</span>
          <span class="no">{% else %}</span>
            <span class="no">closed</span>
          <span class="no">{% endif %}</span>

        <span class="s">icon_template</span><span class="pi">:</span> <span class="pi">&gt;</span>
          <span class="no">{% if is_state('sensor.all_covers', 'open') %}</span>
            <span class="no">mdi:window-open</span>
          <span class="no">{% else %}</span>
            <span class="no">mdi:window-closed</span>
          <span class="no">{% endif %}</span>

        <span class="s">entity_id</span><span class="pi">:</span>
          <span class="pi">-</span> <span class="s">cover.bedroom</span>
          <span class="pi">-</span> <span class="s">cover.livingroom</span>

<span class="s">sensor</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">template</span>
    <span class="s">sensors</span><span class="pi">:</span>
      <span class="s">all_covers</span><span class="pi">:</span>
        <span class="s">value_template</span><span class="pi">:</span> <span class="pi">&gt;</span>
          <span class="no">{% if is_state('cover.bedroom', 'open') %}</span>
            <span class="no">open</span>
          <span class="no">{% elif is_state('cover.livingroom', 'open') %}</span>
            <span class="no">open</span>
          <span class="no">{% else %}</span>
            <span class="no">closed</span>
          <span class="no">{% endif %}</span>

        <span class="s">entity_id</span><span class="pi">:</span>
          <span class="pi">-</span> <span class="s">cover.bedroom</span>
          <span class="pi">-</span> <span class="s">cover.livingroom</span>

<span class="s">script</span><span class="pi">:</span>
  <span class="s">cover_all_open</span><span class="pi">:</span>
    <span class="s">sequence</span><span class="pi">:</span>
      <span class="pi">-</span> <span class="s">service</span><span class="pi">:</span> <span class="s">cover.open_cover</span>
        <span class="s">entity_id</span><span class="pi">:</span> <span class="s">cover.bedroom</span>
      <span class="pi">-</span> <span class="s">service</span><span class="pi">:</span> <span class="s">cover.open_cover</span>
        <span class="s">entity_id</span><span class="pi">:</span> <span class="s">cover.livingroom</span>
  <span class="s">cover_all_stop</span><span class="pi">:</span>
    <span class="s">sequence</span><span class="pi">:</span>
      <span class="pi">-</span> <span class="s">service</span><span class="pi">:</span> <span class="s">cover.stop_cover</span>
        <span class="s">entity_id</span><span class="pi">:</span> <span class="s">cover.bedroom</span>
      <span class="pi">-</span> <span class="s">service</span><span class="pi">:</span> <span class="s">cover.stop_cover</span>
        <span class="s">entity_id</span><span class="pi">:</span> <span class="s">cover.livingroom</span>
  <span class="s">cover_all_close</span><span class="pi">:</span>
    <span class="s">sequence</span><span class="pi">:</span>
      <span class="pi">-</span> <span class="s">service</span><span class="pi">:</span> <span class="s">cover.close_cover</span>
        <span class="s">entity_id</span><span class="pi">:</span> <span class="s">cover.bedroom</span>
      <span class="pi">-</span> <span class="s">service</span><span class="pi">:</span> <span class="s">cover.close_cover</span>
        <span class="s">entity_id</span><span class="pi">:</span> <span class="s">cover.livingroom</span>
  <span class="s">cover_all_set_position</span><span class="pi">:</span>
    <span class="s">sequence</span><span class="pi">:</span>
      <span class="pi">-</span> <span class="s">service</span><span class="pi">:</span> <span class="s">cover.set_cover_position</span>
        <span class="s">entity_id</span><span class="pi">:</span> <span class="s">cover.bedroom</span>
        <span class="s">data_template</span><span class="pi">:</span>
          <span class="s">position</span><span class="pi">:</span> <span class="s2">"</span><span class="s">{{</span><span class="nv"> </span><span class="s">position</span><span class="nv"> </span><span class="s">}}"</span>
      <span class="pi">-</span> <span class="s">service</span><span class="pi">:</span> <span class="s">cover.set_cover_position</span>
        <span class="s">entity_id</span><span class="pi">:</span> <span class="s">cover.livingroom</span>
        <span class="s">data_template</span><span class="pi">:</span>
          <span class="s">position</span><span class="pi">:</span> <span class="s2">"</span><span class="s">{{</span><span class="nv"> </span><span class="s">position</span><span class="nv"> </span><span class="s">}}"</span>

<span class="s">automation</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">alias</span><span class="pi">:</span> <span class="s1">'</span><span class="s">Close</span><span class="nv"> </span><span class="s">covers</span><span class="nv"> </span><span class="s">at</span><span class="nv"> </span><span class="s">night'</span>
    <span class="s">trigger</span><span class="pi">:</span>
      <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">sun</span>
        <span class="s">event</span><span class="pi">:</span> <span class="s">sunset</span>
        <span class="s">offset</span><span class="pi">:</span> <span class="s1">'</span><span class="s">+00:30:00'</span>
    <span class="s">action</span><span class="pi">:</span>
      <span class="s">service</span><span class="pi">:</span> <span class="s">cover.set_cover_position</span>
      <span class="s">entity_id</span><span class="pi">:</span> <span class="s">cover.all_covers</span>
      <span class="s">data_template</span><span class="pi">:</span>
        <span class="s">position</span><span class="pi">:</span> <span class="s">25</span>
</code></pre>
</div>
</article>
        </div>
        <aside id="sidebar" class="grid__item one-third lap-one-whole palm-one-whole">
          <div class="grid">
    <section class="aside-module grid__item one-whole lap-one-half">
  <div class='edit-github'><a href='https://github.com/home-assistant/home-assistant.github.io/tree/current/source/_components/cover.template.markdown'>Edit this page on GitHub</a></div>
  <div class='brand-logo-container section'>
      <img src='/images/supported_brands/home-assistant.png' />
  </div>
    <div class='section'>
    IoT class<sup><a href='/blog/2016/02/12/classifying-the-internet-of-things/#classifiers'><i class="icon-info-sign"></i></a></sup>: Local Push
    </div>
    <div class='section'>
    Introduced in release: 0.48
    </div>
    <div class='section'>
      This is a platform for
      <a href='/components/cover/'>the Covers component</a>.
    </div>
          <div class='section'>
          <h1 class='title delta'>Related components</h1>
          <ul class='divided'>
        <li><a href='/components/binary_sensor.template/'>
          Template Binary Sensor
        </a></li>
        <li><a href='/components/light.template/'>
          Template Light
        </a></li>
        <li><a href='/components/sensor.template/'>
          Template Sensor
        </a></li>
        <li><a href='/components/switch.template/'>
          Template switch
        </a></li>
    </ul>
    </div>
    <div class='section'>
    <h1 class="title delta">Category Cover</h1>
    <ul class='divided'>
        <li>
            <a href='/components/cover.command_line/'>Command Line Cover</a>
        </li>
        <li>
            <a href='/components/cover.garadget/'>Garadget Cover</a>
        </li>
        <li>
            <a href='/components/cover.homematic/'>Homematic Cover</a>
        </li>
        <li>
            <a href='/components/cover.isy994/'>ISY994 Cover</a>
        </li>
        <li>
            <a href='/components/cover.knx/'>KNX Cover</a>
        </li>
        <li>
            <a href='/components/cover.lutron_caseta/'>Lutron Caseta Cover</a>
        </li>
        <li>
            <a href='/components/cover.mqtt/'>MQTT Cover</a>
        </li>
        <li>
            <a href='/components/cover.myq/'>MyQ Cover</a>
        </li>
        <li>
            <a href='/components/cover.mysensors/'>MySensors Cover</a>
        </li>
        <li>
            <a href='/components/cover.opengarage/'>OpenGarage Cover</a>
        </li>
        <li>
            <a href='/components/scene.hunterdouglas_powerview/'>PowerView Scenes</a>
        </li>
        <li>
            <a href='/components/cover.rfxtrx/'>RFXtrx Cover</a>
        </li>
        <li>
            <a href='/components/cover.rpi_gpio/'>Raspberry Pi Cover</a>
        </li>
        <li>
            <a href='/components/cover.scsgate/'>SCSGate Cover</a>
        </li>
        <li>
            Template Cover
        </li>
        <li>
            <a href='/components/cover.vera/'>Vera Cover</a>
        </li>
        <li>
            <a href='/components/cover.wink/'>Wink Cover</a>
        </li>
        <li>
            <a href='/components/cover.xiaomi/'>Xiaomi Cover</a>
        </li>
        <li>
            <a href='/components/cover.zwave/'>Z-Wave Cover</a>
        </li>
    </ul>
    </div>
</section>
</div>
        </aside>
      </div>
    </div>
    <footer>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="copyright">
  <a rel="me" href='https://twitter.com/home_assistant'><i class="icon-twitter"></i></a>
  <a rel="me" href='https://facebook.com/homeassistantio'><i class="icon-facebook"></i></a>
  <a rel="me" href='https://plus.google.com/110560654828510104551'><i class="icon-google-plus"></i></a>
  <a rel="me" href='https://github.com/home-assistant/home-assistant'><i class="icon-github"></i></a>
  <div class="credit">
    Contact us at <a href='mailto:hello@home-assistant.io'>hello@home-assistant.io</a> (no support!).<br>
    Website powered by <a href='http://jekyllrb.com/'>Jekyll</a> and the <a href='https://github.com/coogie/oscailte'>Oscalite theme</a>.<br />
    Hosted by <a href='https://pages.github.com/'>GitHub</a> and served by <a href='https://cloudflare.com'>CloudFlare</a>.
  </div>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">home-assistant.io</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
</div>
    </div>
  </div>
</div>
    </footer>
    <script>
  var _gaq=[['_setAccount','UA-57927901-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript">
docsearch({
  apiKey: 'ae96d94b201c5444c8a443093edf3efb',
  indexName: 'home-assistant',
  inputSelector: '#search',
  debug: false // Set debug to true if you want to inspect the dropdown
});
document.querySelector('.search .close').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'none';
});
document.querySelector('.show-search').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'block';
  document.getElementById('toggle').checked = false;
  document.querySelector('.search-container input').focus();
});
</script>
  </body>
</html>
