<!doctype html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>RSS feed template - Home Assistant</title>
    <meta name="author" content="Home Assistant">
    <meta name="description" content="Instructions how to setup an RSS feed for sensor information and other.">
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://home-assistant.io/components/rss_feed_template/">
    <meta property="fb:app_id" content="338291289691179">
    <meta property="og:title" content="RSS feed template">
    <meta property="og:site_name" content="Home Assistant">
    <meta property="og:url" content="https://home-assistant.io/components/rss_feed_template/">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Instructions how to setup an RSS feed for sensor information and other.">
    <meta property="og:image" content="https://home-assistant.io/images/default-social.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@home_assistant">
    <meta name="twitter:title" content="RSS feed template">
    <meta name="twitter:description" content="Instructions how to setup an RSS feed for sensor information and other.">
    <meta name="twitter:image" content="https://home-assistant.io/images/default-social.png">
    <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="Home Assistant" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />
  </head>
  <body >
    <header class='site-header'>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
  <a href="/" class="site-title">
    <img width='40' src='/demo/favicon-192x192.png'>
    <span>Home Assistant</span>
  </a>
</div>
<div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
  <nav>
    <input type="checkbox" id="toggle">
<label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu"></label>
<ul class="menu pull-right">
  <li><a href="/getting-started/">Getting started</a></li>
  <li><a href="/components/">Components</a></li>
  <li><a href="/docs/">Docs</a></li>
  <li><a href="/cookbook/">Examples</a></li>
  <li><a href="/developers/">Developers</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/help/">Need help?</a></li>
  <li><a href='#' class='show-search'><i class="icon-search"></i></a></li>
</ul>
  </nav>
  <div class='search-container' style='display: none'>
    <div class='search'>
      <i class="icon-search"></i>
      <input id='search' placeholder='Search the docs…'>
      <a href='#' class='close'><i class="icon-remove-sign"></i></a>
    </div>
  </div>
</div>
  </div>
</div>
    </header>
    <div class="grid-wrapper">
      <div class="grid grid-center">
        <div class="grid__item two-thirds lap-one-whole palm-one-whole">
          <article class="page">
  <header>
    <h1 class="title indent">
      RSS feed template
    </h1>
  </header>
  <hr class="divider">
  <p>The <code class="highlighter-rouge">rss_feed_template</code> component can export any information from Home Assistant as a static RSS feed. This can be used to display that information on many types of devices using an RSS reader. While native apps for Home Assistant are not widely available, native RSS readers exist for almost any platform.</p>
<p>For example, on Android, the app “Simple RSS Widget” can be used to display temperatures on the home screen.</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Example configuration.yml entry</span>
<span class="s">rss_feed_template</span><span class="pi">:</span>
  <span class="s">garden</span><span class="pi">:</span>
    <span class="s">requires_api_password</span><span class="pi">:</span> <span class="s">False</span>
    <span class="s">title</span><span class="pi">:</span> <span class="s2">"</span><span class="s">Garden</span><span class="nv"> </span><span class="s">{{</span><span class="nv"> </span><span class="s">as_timestamp(now())|timestamp_custom('%H:%m',</span><span class="nv"> </span><span class="s">True)</span><span class="nv"> </span><span class="s">}}"</span>
    <span class="s">items</span><span class="pi">:</span>
    <span class="pi">-</span> <span class="s">title</span><span class="pi">:</span> <span class="s2">"</span><span class="s">Outside</span><span class="nv"> </span><span class="s">temperature"</span>
      <span class="s">description</span><span class="pi">:</span> <span class="s2">"</span><span class="s">{%</span><span class="nv"> </span><span class="s">if</span><span class="nv"> </span><span class="s">is_state('sensor.temp_outside','unknown')</span><span class="nv"> </span><span class="s">%}---{%</span><span class="nv"> </span><span class="s">else</span><span class="nv"> </span><span class="s">%}{{states.sensor.temp_outside.state}}</span><span class="nv"> </span><span class="s">°C{%</span><span class="nv"> </span><span class="s">endif</span><span class="nv"> </span><span class="s">%}"</span>
</code></pre>
</div>
<p>Configuration variables:</p>
<ul>
  <li><strong>requires_api_password:</strong> (<em>Optional</em>): If true and an API password is set, the password must be passed via ‘?api_password=…’ parameter (Default: True)</li>
  <li><strong>feed_id</strong> (<em>Required</em>): The key is used as the ID of the feed. The feed can be accessed at /api/rss_template/feed_id (example: ‘garden’)</li>
  <li><strong>title</strong> (<em>Optional</em>): The title of the feed, which is parsed as <a href="/topics/templating/">template</a>.</li>
  <li><strong>items</strong> (<em>Required</em>): A list of feed items.</li>
  <li><strong>items/title</strong> (<em>Optional</em>): The title of the item, which is parsed as <a href="/topics/templating/">template</a>.</li>
  <li><strong>items/description</strong> (<em>Optional</em>): The description of the item, which is parsed as <a href="/topics/templating/">template</a>.</li>
</ul>
</article>
        </div>
        <aside id="sidebar" class="grid__item one-third lap-one-whole palm-one-whole">
          <div class="grid">
    <section class="aside-module grid__item one-whole lap-one-half">
  <div class='edit-github'><a href='https://github.com/home-assistant/home-assistant.github.io/tree/current/source/_components/rss_feed_template.markdown'>Edit this page on GitHub</a></div>
  <div class='brand-logo-container section'>
      <img src='/images/supported_brands/home-assistant.png' />
  </div>
    <div class='section'>
    Introduced in release: 0.44
    </div>
    <div class='section'>
    <h1 class="title delta">Category Front end</h1>
    <ul class='divided'>
        <li>
            <a href='/components/config/'>Config</a>
        </li>
        <li>
            <a href='/components/panel_custom/'>Panel Custom</a>
        </li>
        <li>
            <a href='/components/panel_iframe/'>Panel iFrame</a>
        </li>
        <li>
            RSS feed template
        </li>
        <li>
            <a href='/components/weblink/'>Weblink</a>
        </li>
    </ul>
    </div>
</section>
</div>
        </aside>
      </div>
    </div>
    <footer>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="copyright">
  <a rel="me" href='https://twitter.com/home_assistant'><i class="icon-twitter"></i></a>
  <a rel="me" href='https://facebook.com/homeassistantio'><i class="icon-facebook"></i></a>
  <a rel="me" href='https://plus.google.com/110560654828510104551'><i class="icon-google-plus"></i></a>
  <a rel="me" href='https://github.com/home-assistant/home-assistant'><i class="icon-github"></i></a>
  <div class="credit">
    Contact us at <a href='mailto:hello@home-assistant.io'>hello@home-assistant.io</a> (no support!).<br>
    Website powered by <a href='http://jekyllrb.com/'>Jekyll</a> and the <a href='https://github.com/coogie/oscailte'>Oscalite theme</a>.<br />
    Hosted by <a href='https://pages.github.com/'>GitHub</a> and served by <a href='https://cloudflare.com'>CloudFlare</a>.
  </div>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">home-assistant.io</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
</div>
    </div>
  </div>
</div>
    </footer>
    <script>
  var _gaq=[['_setAccount','UA-57927901-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript">
docsearch({
  apiKey: 'ae96d94b201c5444c8a443093edf3efb',
  indexName: 'home-assistant',
  inputSelector: '#search',
  debug: false // Set debug to true if you want to inspect the dropdown
});
document.querySelector('.search .close').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'none';
});
document.querySelector('.show-search').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'block';
  document.getElementById('toggle').checked = false;
  document.querySelector('.search-container input').focus();
});
</script>
  </body>
</html>
